# dependencies
bower_components/
node_modules/
vendor/

# development files
.eslintcache
npm-debug.log*
yarn-error.log
yarn.lock

# project specific
lib/*.js.map
test.js
test.ts
todo.md
tsconfig.tsbuildinfo
