# Folders
.circleci/
.editorconfig
.vscode/
src/
test/
types/

# Files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tsconfig.tsbuildinfo
tslint.json

# Project-specific
lib/*.map.js
test.js
test.ts
todo.md
